@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

.container-login {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.album-details img {
    max-width: 60%;
    height: auto;
}

.login-button {
    margin-top: 20px;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    background-color: #19E68C;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    color: white;
    box-shadow: 0 0 20px #19E68C;
    background-color: #19E68C;
}