<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../view/login-style.css">
    <title>Autenticação</title>
</head>

<body>
    <div class="container-login">
        <div class="album-details">
            <img src="../images/falta-de-atencao-logo.png" alt="Falta de Atencao Logo">
        </div>
        <div class="album-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum nesciunt voluptate qui
                officia
                cum sapiente quae aperiam eius dicta? Laboriosam neque suscipit excepturi necessitatibus voluptate autem
                voluptatem, nulla libero.</p>
        </div>
        <div class="login-button" style="flex: 1; margin-bottom: 10px;">
            <button onclick="loginWithSpotify()">Entrar com Spotify e Jogar</button>
            <div id="user-info"></div>
        </div>
    </div>
    <script src="../util/spotify.js"></script>
</body>

</html>
