@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 0 3vw;
}

.album-details,
.spotify-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.album-details img {
    width: 25%;
}

.album-details p {
    width: 70%;
    height: auto;
    overflow: hidden;
}

.spotify-iframe {
    padding-top: 30px;
    margin: 0;
}

.spotify-iframe iframe{
    width: 70%;
    height: 80%;
}

.game-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.game-iframe {
    height: 60vh;
    padding: 0 3vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen {
    height: 1rem;
    width: 1rem;

    border: none;

    cursor: pointer;
    margin: 1vh 3vw 0 auto;
}

button {
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    cursor: pointer;

    font-size: 0.9rem;
    margin: auto;
}

button:hover {
    color: #918888;
    transition: 0.2s;
}

/* Media query para ajustar estilos em telas menores */
@media screen and (max-width: 600px) {

    .header img {
        width: 50%;
    }

    .header p {
        font-size: 12px;
        text-align: left;
    }

    .game-container .game-iframe {
        padding: 0 2vw;
    }
}