@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 0 5vw;
}

.header .album-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .album-details img {
    width: 30%;
}

.header .album-details p {
    width: 50%;
}

.header .spotify-iframe {
    padding-top: 30px;
}

.header iframe {
    height: 100%;
}

.game-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.game-container .game-iframe {
    height: 60vh;
    padding: 0 5vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container .full-screen {
    height: 1rem;
    width: 1rem;

    background-color: #000;
    border: none;

    cursor: pointer;
    margin: 1vh 5vw 0 auto;
}

button{
    justify-content: center;
    align-items: center;
    
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;

    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

button:hover {
    color: #918888;
    transition: 0.2s;
}