<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../view/main-style.css">
    <title>Jogue Agora - Falta de Atenção</title>
</head>

<body>
    <div class="flex-container">
        <div class="header">

            <div class="album-details">
                <img src="../images/falta-de-atencao-logo.png" alt="Banda Calypso Logo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum nesciunt voluptate qui
                    officia
                    cum sapiente quae aperiam eius dicta? Laboriosam neque suscipit excepturi necessitatibus voluptate
                    autem
                    voluptatem, nulla.</p>
            </div>

            <div class="spotify-iframe">
                <iframe id="spotify-player" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/4IWuMtqZOCu5or3RXZQ26v?utm_source=generator"
                    frameBorder="0" loading="lazy"
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                ></iframe>
            </div>

        </div>

        <div class="game-container">

            <iframe class="game-iframe" src="../../game/index.html" frameborder="0"
                allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'>
            </iframe>

            <img class="full-screen" onclick="toggleFullscreen()" src="../images/full-screen-icon.png" alt="">
        </div>
        <button class="logout-spotify" onclick="logoutSpotify()">Desconetar do Spotify</button>
    </div>
    <script src="../util/spotify.js"></script>
</body>

</html>