<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../view/main-style.css">
    <title>Jogue Agora - Falta de Atenção</title>
</head>

<body>
    <div class="flex-container">
        <div class="header">
            <div class="album-details">
                <img src="../images/falta-de-atencao-logo.png" alt="Falta de Atenção Logo">
                <p> Essa parceria com o Nattan foi maravilhosa, que energia boa! Tudo fluiu de um jeito natural, leve e
                    com muitas risadas. Quero que quem escute a música sinta esse clima divertido, com uma batida alto
                    astral e a energia lá em cima, para cantar naquele clima de festa! A música fala sobre paquera, de
                    um jeitinho desapegado. Vai ser massa!", celebrou Juliette.
                </p>
                <p>
                    Quando Juliette saiu como vencedora do “Big Brother Brasil 21”, da TV Globo, deparou-se com mais de
                    20 milhões de seguidores no Instagram, uma fandom (comunidade de fãs) para chamar de sua e um
                    projeto musical encaminhado para apresentar a então advogada e maquiadora como cantora. Em setembro
                    daquele ano, lançou o EP com seu nome. Agora, dois anos depois, seu primeiro álbum, “Ciclone”, está
                    pronto para chegar às plataformas digitais. Será lançado este mês, mas a data exata ainda vai ser
                    definida. Com dois singles já disponíveis (“Sai da frente” e “Tengo”), hoje a artista lança “Quase
                    não namoro”, parceria com Marina Sena e terceira das dez músicas que compõem o trabalho. Na próxima
                    quinta-feira, o clipe da faixa, que teve gravação acompanhada pelo GLOBO, estará no YouTube. No set
                    montado num ateliê na Zona Sul da capital paulista, Juliette se transforma em pintora e tem em
                    Marina sua musa inspiradora em meio a elementos que remetem ao século XVIII. Durante a gravação,
                    Marina posou seminua para Juliette, coberta apenas por um lençol vermelho.
                </p>
                <p>Fonte:
                    https://oglobo.globo.com/google/amp/cultura/musica/noticia/2023/08/03/juliette-lanca-single-com-marina-sena-e-prepara-1o-album-vai-demorar-para-me-reconhecerem-pela-minha-musica.ghtml
                </p>
            </div>
            <nav class="side02__social d-flex align-items-center justify-content-center">
                <a href="https://www.tiktok.com/@juliettefreire" target="_blank" class="social-link transition"
                    title="Tik Tok">
                    <img src="https://www.juliette.art.br/storage/uploads/social/images/grupo-3654-1692797708.webp"
                        width="28.5px" alt="Tik Tok">
                </a>
                <a href="https://www.facebook.com/freirejuliette/?locale=pt_BR" target="_blank"
                    class="social-link transition" title="Facebook">
                    <img src="https://www.juliette.art.br/storage/uploads/social/images/grupo-3658-1692797729.webp"
                        width="28.5px" alt="Facebook">
                </a>
                <a href="https://twitter.com/juliette" target="_blank" class="social-link transition" title="Twitter">
                    <img src="https://www.juliette.art.br/storage/uploads/social/images/grupo-3655-1693245235.webp"
                        width="28.5px" alt="Twitter">
                </a>
                <a href="https://www.youtube.com/juliette" target="_blank" class="social-link transition"
                    title="Youtube">
                    <img src="https://www.juliette.art.br/storage/uploads/social/images/grupo-3656-1692797768.webp"
                        width="28.5px" alt="Youtube">
                </a>
                <a href="https://www.instagram.com/juliette/" target="_blank" class="social-link transition"
                    title="Instagram">
                    <img src="https://www.juliette.art.br/storage/uploads/social/images/instagram-1-1-1692987951.webp"
                        width="28.5px" alt="Instagram">
                </a>
            </nav>
            <!-- <div class="spotify-player">
                <iframe id="spotify-iframe" style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/74ySAz6VTP7EMRgTrJxRzR?utm_source=generator"
                    frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
                </iframe>
            </div> -->
        </div>
        <div class="game">
            <!-- <iframe id="game-iframe" src="../../game/index.html" frameborder="0" -->
            <iframe id="game-iframe"
                src="https://open.spotify.com/embed/playlist/74ySAz6VTP7EMRgTrJxRzR?utm_source=generator"
                frameborder="0" allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'>
            </iframe>
            <!-- <button id="full-screen" onclick="toggleFullscreen()"><img src="../images/full-screen-icon.png" alt="Abrir em Tela Cheia"> </button> -->
            <button id="logout-spotify" onclick="logoutSpotify()">Desconetar do Spotify</button>
        </div>
    </div>
    <script src="../util/spotify.js"></script>
</body>

</html>